# Table of Contents
1. Importing Libraries
2. Reading Files
3. Extracting first 1 million rows
4. Working with Main Dataframe
5.Answers of Exercise 4.8
6. Exporting Dataframe

## 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 02. Reading Files

In [2]:
# Setting path
path = r'/Users/niravbariya/Documents/Data Science/CareerFoundry/Data Analytics Immersion/Achievement 4/04-04-2024 Instacart Basket Analysis'

In [3]:
# importing ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_new_var.pkl'))

In [4]:
# Droping the _merge indicator as it was a redundant column
ords_prods_merge = ords_prods_merge.drop(columns = ['_merge', 'new_merge'])

## 03. Extracting first 1 million rows

In [5]:
# Extracting first 1 million rows
df = ords_prods_merge[:1000000]

In [6]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders

In [7]:
df.shape

(1000000, 17)

In [8]:
df.groupby('product_name')

In [9]:
## Average number of orders per user for each department
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [11]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## 04. Working With Main Dataframe

### Finding max order for each user id using transform() and max() function

In [12]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/xd/gd6kszh506xbhlz9mv23vpxh0000gn/T/ipykernel_4741/1681540670.py:1: FutureWarning: The provided callable <function max at 0x106617920> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10

In [20]:
# Chaning the setting of display
pd.options.display.max_rows = None

In [14]:
ords_prods_merge.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,22

In [15]:
## Creating Flags
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
## Frequency of loyalty_flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [26]:
15876776+10284093+6243990

32404859

In [19]:
## Checking output
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

## 05. Answers of Exercise 4.8

In [20]:
# Calculating average order number for each of the department_id in the dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

First of all, this output has included the entire dataframe and hence now we have average order_nunber for all the department_id.
Further, the output is also different from what we have got when considering a samll subset of the entire dataframe.

In [21]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer

In [22]:
# Checking basic statistics of prices column by loyalty_flag of the customer_id
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'max', 'min']})

                     prices
                       mean      max  min
loyalty_flag
Loyal customer    10.386336  99999.0  1.0
New customer      13.294670  99999.0  1.0
Regular customer  12.495717  99999.0  1.0

In [23]:
ords_prods_merge.groupby('loyalty_flag')['prices'].describe()

,count,mean,std,min,25%,50%,75%,max
loyalty_flag,,,,,,,,
Loyal customer,10284093.0,10.386336,328.017787,1.0,4.2,7.4,11.2,99999.0
New customer,6243990.0,13.294670,597.560299,1.0,4.2,7.4,11.3,99999.0
Regular customer,15876776.0,12.495717,539.720919,1.0,4.2,7.4,11.3,99999.0

The average price paid by a New Customer is highest than all other customers. The average price paid by loyal customers is lowest.

### Creating a new column avg_price which stores average price paid by a user_id

In [24]:
# Fixing outliers before exporting
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [25]:
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/xd/gd6kszh506xbhlz9mv23vpxh0000gn/T/ipykernel_4741/3476153785.py:1: FutureWarning: The provided callable <function mean at 0x106624360> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [27]:
#Checking the column
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797

In [28]:
# Creating a flag column to flag customer as low spender or high spender
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low Spender'

In [29]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High Spender'

In [30]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender

### Determining Frequent and Non-frequent Customers

In [31]:
# Calculating median of days_since_prior_order
ords_prods_merge['median_days_bw_orders'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

/var/folders/xd/gd6kszh506xbhlz9mv23vpxh0000gn/T/ipykernel_4741/1211631005.py:2: FutureWarning: The provided callable <function median at 0x106760400> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_days_bw_orders'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform(np.median)

If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [32]:
# Creating flags for frequent, non-frequent, and regular customer
ords_prods_merge.loc[ords_prods_merge['median_days_bw_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [33]:
ords_prods_merge.loc[(ords_prods_merge['median_days_bw_orders'] > 10) & 
                     (ords_prods_merge['median_days_bw_orders'] <= 20), 'order_frequency'] = 'Regular customer'

In [34]:
ords_prods_merge.loc[ords_prods_merge['median_days_bw_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [35]:
ords_prods_merge.head(50)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_days_bw_orders,order_frequency
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low Spender,20.5,Non-frequent customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0,Frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,9,New customer,8.372059,Low Spender,6.0,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,33,Regular customer,7.012683,Low Spender,7.5,Frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,20,Regular customer,8.137793,Low Spender,6.0,Frequent customer
20,2231262,31,17,3,11,8.0,196,14,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,20,Regular customer,8.137793,Low Spender,6.0,Frequent customer
21,2580647,43,6,4,16,4.0,196,9,0,Soda,...,Mid-range product,Least busy,Least busy days,Average orders,11,Regular customer,7.444898,Low Spender,10.0,Frequent customer
22,2187180,43,9,4,12,3.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy days,Most orders,11,Regular customer,7.444898,Low Spender,10.0,Frequent customer
23,2497897,52,1,1,9,NaN,196,4,0,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
24,1318871,52,2,1,10,7.0,196,5,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
25,1261384,52,3,1,10,7.0,196,3,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
26,580568,52,5,2,10,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
27,2428073,52,7,2,7,8.0,196,5,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
28,342306,52,9,1,11,7.0,196,5,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
29,1520353,52,10,2,10,8.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
30,2542086,52,11,2,9,7.0,196,3,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
31,944694,52,12,1,16,6.0,196,7,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
32,1268191,52,15,2,11,8.0,196,3,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
33,1122089,52,17,2,10,6.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
34,1498922,52,18,2,10,14.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
35,180919,52,19,3,8,8.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Average orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
36,2695875,52,21,5,10,30.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,27,Regular customer,6.356287,Low Spender,8.0,Frequent customer
37,3205960,67,1,3,11,NaN,196,1,0,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
38,970922,67,2,1,15,5.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
39,596585,67,3,1,13,7.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
40,2037087,67,4,2,9,8.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
41,2474111,67,5,3,14,8.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
42,1568481,67,6,3,12,7.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Least busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
43,2048527,67,8,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
44,2389031,67,9,2,14,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
45,2378562,67,10,1,10,6.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
46,1515698,67,11,1,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
47,1928050,67,12,2,12,8.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
48,1949274,67,13,1,10,6.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer
49,551869,67,14,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,24,Regular customer,7.656790,Low Spender,7.0,Frequent customer

## 06. Exporting Dataframe

In [36]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_aggregated.pkl'))